<form method="post" action="/new">
  <input name="item" placeholder="task item" class="form-control floating-label" data-hint="Add an item to your todo list" type="text">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<ol>
	<% @@list.each do |item| %>
  	<li><%= item %></li>
  <% end %>
</ol>

<style>
body {
	background-color: #4db6ac;
}
</style>
