<html>
<head>
  <title>Todo</title>
  <link rel="stylesheet" href="css/material.min.css">
  <link rel="stylesheet" href="css/ripples.min.css">
  <link rel="stylesheet" href="css/material-wfont.min.css">
  <script src="js/material.min.js"></script>
  <script src="js/ripples.min.js"></script>
</head>
<body style="background-color: #4db6ac;">
  <h1 class="header">Todo App</h1>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
